affine==2.4.0
aiodns==4.0.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp==3.9.3
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1733750398730/work
alembic==1.18.4
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
altair_ally==0.1.1
annotated-types==0.7.0
anyio==3.7.1
anywidget==0.9.21
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1749017159514/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1753994727243/work
arro3-core==0.6.5
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asgiref==3.11.1
asn1crypto==1.5.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_async-lru_1742153708/work
asyncio-throttle==1.0.2
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
audioread==3.1.0
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1733325779670/work
backports.zstd @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.zstd_1767045004/work
bcrypt==5.0.0
beartype==0.22.9
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1744783198182/work
bfg==0.1.0
bitarray==3.8.1
black==26.1.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1737382993/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
boto3==1.34.131
botocore==1.34.162
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1749229842835/work
build==1.4.0
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1746102850263/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
ccxt==4.4.82
certifi==2026.4.22
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560558132/work
charset-normalizer==3.4.7
ckzg==2.1.7
click==8.3.3
click-default-group @ file:///home/conda/feedstock_root/build_artifacts/click-default-group_1734029471448/work
cligj==0.7.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorlog==6.10.1
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1775855675187/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1775557888859/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_lock @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_conda-lock_1751494198/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1751548120229/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1762525251295/work
coverage==7.13.1
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1733564795535/work
cryptography==42.0.8
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cytoolz==1.1.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1754523420/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1744798524990/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1752822973799/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dnspython_1757292856/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1733217766141/work
draggg==1.0.18
duckdb==1.5.0
dulwich @ file:///home/conda/feedstock_root/build_artifacts/dulwich_1740965086112/work
-e git+ssh://git@github.com/UBC-MDS/dumbpy.git@210c3729af2ad21133aca2e981d14d01f0424cfb#egg=dumbpy
editables @ file:///home/conda/feedstock_root/build_artifacts/editables_1733208130372/work
ensureconda @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ensureconda_1759790124/work
et_xmlfile==2.0.0
eth-account==0.13.7
eth-hash==0.8.0
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==6.0.0
eth-utils==6.0.0
eth_abi==6.0.0b1
evdev==1.9.3
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
execnet==2.1.2
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
fastapi==0.104.1
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
fica @ file:///home/conda/feedstock_root/build_artifacts/fica_1735364180631/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
Flask==3.1.2
flask-cors==6.0.2
flask-sock==0.7.0
fonttools==4.60.0
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1728841327252/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1752167142843/work
fsspec==2025.9.0
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1753444155689/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1749796131763/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1755130281010/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1749108257037/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1733907410727/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1745360236764/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1744688777945/work
greenlet==3.2.4
griffe==1.15.0
groq==1.2.0
h11==0.16.0
h2==2.6.2
hatch @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_hatch_1765057709/work
hatchling @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_hatchling_1767609134/work
hexbytes==1.3.1
hf-xet==1.1.9
hpack==3.0.0
htmltools==0.6.0
httpcore==1.0.9
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1733927481809/work
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.34.4
hyper==0.7.0
hyperframe==3.2.0
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_hyperlink_1733319972/work
hyperliquid-python-sdk==0.22.0
id==1.5.0
idna==3.13
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
iniconfig==2.3.0
inquirerpy==0.3.4
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1733237321392/work
invoke==3.0.3
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1754352855579/work
ipylab @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipylab_1750857685/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1751465044/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1746454582739/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
itsdangerous==2.2.0
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1733325873251/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1733382590553/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1755584707998/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1740828240267/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jmespath==1.1.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1755034879854/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1725302935093/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1755595646/work
jsonschema-specifications @ file:///tmp/tmpuvkyqc9y/src
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_events_1738765986/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter-lsp_1752935193/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_server_1755870522/work
jupyter_server_mathjax @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-mathjax_1734509714511/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab==4.5.0
jupyterlab-spellchecker @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-spellchecker_1690583403888/work
jupyterlab_git @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-git_1749754304377/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server==2.28.0
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1746450771080/work
jupytext @ file:///home/conda/feedstock_root/build_artifacts/jupytext_1748846543548/work
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1763320549771/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1762488738/work
lark @ file:///home/conda/feedstock_root/build_artifacts/lark_1734709323538/work
lazy-loader==0.5
lib==4.0.0
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1746515836725/work/libmambapy
librosa==0.11.0
linkify-it-py==2.0.3
llvmlite==0.47.0
lru-dict==1.2.0
Mako==1.3.10
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplot==0.1.9
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1754946772828/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1753546258937/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mistune_1742402716/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_more-itertools_1764487059/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1762503974934/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1751310558090/work
munkres==1.1.4
mypy_extensions==1.1.0
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1756741653/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1734628800805/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1738067871/work
nbdime @ file:///home/conda/feedstock_root/build_artifacts/nbdime_1734533951497/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
nh3==0.3.0
notebook==7.5.0
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numba==0.65.1
numpy==1.26.4
nvidia-nccl-cu12==2.29.7
nycflights13==0.0.3
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1750415243897/work
opencv-python==4.12.0.88
openpyxl==3.1.5
optuna==4.8.0
orjson==3.11.7
otter-grader @ file:///home/conda/feedstock_root/build_artifacts/otter-grader_1756052121185/work
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging==24.2
palmerpenguins==0.1.4
pandas==2.2.2
pandoc==2.4
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paramiko==5.0.0
parsimonious==0.10.0
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
pathspec==1.0.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pfzy==0.3.4
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1761655794/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1739984581450/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
playwright==1.54.0
plotly==5.22.0
pluggy==1.6.0
plum-dispatch==2.6.1
plumbum==1.9.0
ply==3.11
poly_eip712_structs==0.0.1
pooch==1.9.0
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1748896729786/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1744524945607/work
proto-plus @ file:///home/conda/feedstock_root/build_artifacts/proto-plus_1741676149446/work
protobuf==4.25.9
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1755851289619/work
psygnal==0.15.1
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py_builder_signing_sdk==0.0.2
py_clob_client_v2==1.0.0
py_order_utils==0.3.2
pyarrow==22.0.0
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1743436035994/work
pycares==5.0.1
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1732588402431/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pycryptodome==3.23.0
pydantic==2.13.3
pydantic-settings==2.1.0
pydantic_core==2.46.3
pydeck==0.9.2
pyee==13.0.0
Pygments==2.20.0
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1732782409051/work
pyloco==0.0.139
pymongo @ file:///home/conda/feedstock_root/build_artifacts/pymongo_1764712491003/work
PyNaCl==1.6.2
pyOpenSSL==24.3.0
# Editable install with no version control (pyos_joelyp==0.1.0)
-e /home/ubu/git/2026-01-06-pyos
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1753873557/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1733710025763/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==9.0.3
pytest-cov==7.0.0
pytest-raises==0.11
pytest-randomly==4.0.1
pytest-xdist==3.8.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.0.1
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-multipart==0.0.22
python-on-whales @ file:///home/conda/feedstock_root/build_artifacts/python-on-whales_1752540151439/work
python-telegram-bot==22.7
python-uinput==1.0.1
pytokens==0.4.0
pytoml==0.1.21
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1733738580568/work
pyunormalize==17.0.0
PyYAML==6.0.1
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1756007533/work
quarto==0.1.0
quartodoc==0.11.1
questionary==2.1.1
rasterio==1.5.0
readme_renderer==44.0
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex==2026.4.4
-e git+ssh://git@github.com/UBC-MDS/reportrabbit.git@36abbccdedc8bf9d1b309614cef7f0e23e677e00#egg=reportrabbit
requests==2.33.1
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1733772243268/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986==2.0.0
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rfc3987-syntax @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rfc3987-syntax_1752876729/work
rich==13.9.4
rlp==4.1.0
roman-numerals-py @ file:///home/conda/feedstock_root/build_artifacts/roman-numerals-py_1740240236123/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rpds-py_1754570135/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1744825426113/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1749479934053/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1728724466132/work
s3transfer==0.10.4
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1757406006820/work/dist/scikit_learn-1.7.2-cp312-cp312-linux_x86_64.whl#sha256=129fb53912f867c66de404c45e47a17c8d2466e12961a80dadee213c841e7450
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1763219272390/work/dist/scipy-1.16.3-cp312-cp312-linux_x86_64.whl#sha256=72f528660eda2b30b8b3bd20317d59babbd383e261ef86a385dc0a0ba61950e8
seaborn==0.13.2
SecretStorage==3.4.0
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1737841553927/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1733322040660/work
setuptools==69.5.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
shiny==1.5.1
shinychat==0.2.9
shinywidgets==0.7.1
simple-websocket==1.1.0
SimpleWebSocketServer==0.1.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1747749415787/work
snowflake-connector-python==3.10.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1746563585861/work
soxr==1.0.0
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1740956487887/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1733754101641/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1733754113405/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1733754280555/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1733753744933/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1733753408017/work
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1733750479108/work
sphobjinv==2.3.1.3
SQLAlchemy==2.0.48
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.27.0
streamlit==1.33.0
tabulate==0.9.0
tenacity==8.5.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1710262609923/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1753796677/work
tomli_w @ file:///home/conda/feedstock_root/build_artifacts/tomli-w_1736962227066/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1749127122469/work
toolz==1.1.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1754732015395/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1764604504796/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1739009763/work
twine==6.2.0
typer==0.16.1
typer-slim==0.16.1
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1755865529509/work
typing-inspection==0.4.2
typing_extensions==4.15.0
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
uc-micro-py==1.0.3
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1763054767730/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1748892307961/work
urllib3==2.6.3
userpath @ file:///home/conda/feedstock_root/build_artifacts/userpath_1735924896483/work
ushlex==0.99.1
uvicorn==0.24.0
uvloop==0.22.1
vaderSentiment==3.3.2
vega-datasets==0.9.0
vegafusion==2.0.3
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1761726331425/work
vl-convert-python==1.8.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
web3==6.14.0
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733359735138/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets==12.0
Werkzeug==3.1.3
wheel==0.46.3
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1744291053367/work
wordcloud @ file:///home/conda/feedstock_root/build_artifacts/wordcloud_1756897403289/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1755006857950/work
wsproto==1.3.2
xgboost==3.2.0
xlrd==2.0.2
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1749554822108/work
yt-dlp==2026.3.17
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
